.press-logos {
  background: $white;

  .container {
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    @include bp(sm) {
      padding: 0 32px;
    }

    @include bp(xl) {
      padding: 0 120px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
  }

  .press-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin-top: 40px; 
    width: 100%;

    @include bp(md){
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 40px;
    }

    @include bp(lg){
      grid-template-columns: repeat(5, 1fr);
    }
  }

  .press-logo {
    position: relative;
    height: 80px;

    img {
      object-fit: contain;
    }
  }
}