.page-section {
  position: relative;
  padding: 120px 0; 

  @include bp(lg){
    padding: 160px 0;
  }
  
  &:after {
    content: '';
    width: 100%;
    
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 5;
    background-image: url('/shapes/shape-1mb.png');
    aspect-ratio: 5/1;
  
    @include bp(sm) {
      background-image: url('/shapes/shape-1tb.png');
      aspect-ratio: 32/5;
    }
  
    @include bp(lg) {
      background-image: url('/shapes/shape-1.png');
      aspect-ratio: 9/1;
    }
  }

  &:nth-of-type(even):after {
    background-image: url('/shapes/shape-2mb.png');
    aspect-ratio: 5/1;

    @include bp(sm){
      background-image: url('/shapes/shape-2tb.png');
      aspect-ratio: 32/5;
    }

    @include bp(lg){
      background-image: url('/shapes/shape-2.png');
      aspect-ratio: 9/1;
    }
  }
}

.keen-arrow {
  &:hover {
    transform: transleteY(2px);
    cursor: pointer;
  }
}

.keen-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;

  .dot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: $black;
    border: 2px solid $black;

    &.active {
      background: $primary;
    }
  }
}

.annotation-email { 
  margin-top: 24px; 
  text-decoration: underline;
  display: block; 
}