$screen-xs-min: 424px !default;
$screen-sm-min: 640px !default;
$screen-md-min: 768px !default;
$screen-lg-min: 1024px !default;
$screen-xl-min: 1280px !default;
$screen-xxl-min: 1536px !default;

@mixin border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23497B55FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
  background-position: center;
}

@mixin reset-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
}

@mixin flex-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin bp($screenWidth) {
  @if $screenWidth==mobile-only {
    @media (max-width: #{$screen-xs-min - 1}) {
      @content;
    }
  }

  @else if $screenWidth==small-only {
    @media (max-width: #{$screen-sm-min - 1}) {
      @content;
    }
  }

  @else if $screenWidth==tablet-only {
    @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-min - 1}) {
      @content;
    }
  }

  @else if $screenWidth==xs {
    @media (min-width: #{$screen-xs-min}) {
      @content;
    }
  }

  @else if $screenWidth==sm {
    @media (min-width: #{$screen-sm-min}) {
      @content;
    }
  }

  @else if $screenWidth==md {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  }

  @else if $screenWidth==lg {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  }

  @else if $screenWidth==xl {
    @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  }

  @else if $screenWidth==2xl {
    @media (min-width: #{$screen-xxl-min}) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: mobile-only, small-only, tablet-only, xs, sm, md, lg, xl, xxl";
  }
}